/* sign-in-pg-css */

hr {
    width: 85%;
   
}



.box-color {
    background-color: black;
   border: 1px solid black;
   width: 50%;
  

}

.hr2 {
    width: 85%;
}

.inp-w {
    width: 90%;
    height: 25%;
    border: 1px solid white;
}

.forgot-passw {
    margin-top: 15px;
    margin-right: 20px;
   
}

.bttn {
    width: 80%;
    height: 25%;
    padding-bottom: 5px;
    background-color: blue;
    border: 1px solid blue;
    color: white;
    transition: transform 0.2s ease-in-out;
}



.bttn:hover{
    transform: scale(1.1);  
}
.bttn2 {
    width: 80%;
    height: 25%;
    padding-bottom: 5px;
    background-color: black;
    border: 1px solid white;
    color: white;
    transition: transform 0.2s ease-in-out;
}



.bttn2:hover{
    transform: scale(1.1);  
}


/* end of sign-in */



/* sign-up */


.txt{
    color: white;
}
.blk{
    color: black;
}



 

/* landing-page */

.signup-login{
    text-decoration: none;
    border: 1px solid white;
    transition: transform 0.1s ease-in-out;
    background-color: transparent;
    border: 3px solid white;
    color: white;
    font-family: sans-serif;
    font-weight:lighter;
    margin-left: -25%;

}

.signup-login:hover{
    transform:scale(1.1) ;
    background: linear-gradient(135deg, #A100FF, #F200FF);
    box-shadow: 5px 5px 10px rgb(154, 106, 154);
    
    color: white;
}
.lhs{
    margin-top: 10%;

}
.srch{
    transition: transform ease-in-out 0.1s;
    color: black;
    border-color: black;
}
.srch:hover{
    background-color: black;
    color: white;
}

.ic{
    transition: transform 0.1s ease-in-out;
}

.ic:hover{
    transform: scale(1.1);
   
}

/* add-profile */

.bio{
    width: 90%;

}


/*post-list  */
.posit{
    position: relative;
}
.isrch{
    position: absolute;
    bottom: 35%;
    margin-left: 1%;
    transform: translate(50,50);
}
.pos{
    text-decoration: none;
}
.post-profile-pic{
    width: 6%;
    height: 45px;
}
.blknwhite{
    transition: transform 0.1s ease-in-out;
    background-color: white;
   border-color: black;
   padding: 5px;
}
.blknwhite:hover{
background-color: black;
    color: white;
    transform: scale(1.01);
    
}
.srch-width{
    width: 500px;
    background-color:rgb(251, 252, 252)
}
.badg{
    margin-left: -1%;
    border-radius: 50%;
    
    
}

.txt-pop{
    transition:transform 0.05s ease-in-out ;
    display: inline-block;

}
.txt-pop:hover{
    transform: scale(1.07);
}

.add-profile-color{
    background-color: transparent;
   color: white;
    transition: transform 0.1s ease-in-out;
    border:1px solid white
}
.add-profile-color:hover{
    background-color: black;
    color: white;
    transform: scale(1.02);
}